.homework_06_page_wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(23, 12, 82);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.car_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  width: 220px;
  border-radius: 8px;
  padding: 35px;
  background-color: rgb(212, 209, 232);
  box-shadow: 0 0 3px 1px white;
  font-size: 24px;
}

.car_card:hover {
  background-color: white;
  box-shadow: 0 0 5px 1px white;
  cursor: pointer;
}

#car_brand {
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(24, 10, 70);
}
